# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
*.log

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Visual Studio settings
.vs/
*.dbmdl
*.pdb
*.cache
*.ide

# NuGet packages
*.nupkg
packages/
*.snupkg

# Temporary files
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

# Test results
TestResults/
*.trx

# Configuration files
appsettings.*.json

# Others
*.vsidx
*.pidb
*.psess
*.vsp
*.coverage
*.orig

# Ignore ReSharper and Rider
*.DotSettings.user
.idea/
*.resharper

# Ignore JetBrains Rider workspace
.idea/
*.sln.iml